/*作者(Author): 李潇喃    Website: www.muzisheji.com   QQ: 854378082*/
 
@mixin start{
    *, *:before, *:after {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video {border:0;background:transparent;margin:0;padding:0;}
    article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote {display:block;}
    table, tbody, tfoot, thead, tr, th,td {background:transparent;margin:0;padding:0;}
    nav ,ul {list-style:none;}
    ol {list-style:decimal;}
    blockquote:before, blockquote:after, q:before, q:after {content:none;}
    table {border-collapse:collapse;border-spacing:0;}
    hr {display:block;height:0px;border:0;border-top:1px solid #ccc;overflow:hidden; line-height:0px;}
    input ,select ,a img {vertical-align:middle;}
    .clearfix:after {content: ""; clear: both; height: 0px; overflow: hidden; display:block; visibility: hidden;}
    .clearfix {*zoom:1;}
    .overh {overflow: hidden;}
    .pr {position: relative;}
    .ps {position: absolute;}
}
@include start;
$color_1:#343434;
$color_l:#46AE00;
$color_2:#F55C59;
html {overflow-x: hidden;}
body {line-height: 1.8; overflow-x: hidden; max-width:748px; margin:0 auto; background: #F5F5F5;}
a {color:#333;}
.color_1 {color:$color_1;}
.color_2 {color:$color_2;}
.mt20 {margin-top: 20px;}
.top_font {background-color: #F3F3F3; border-bottom:#D7D7D7 solid 1px; line-height: 2.4;color:#6E7373; font-size: 12px;}
#nav_top {
    width: 100%;
    margin-top: 10px;
    line-height: 40px;
    background: $color_1;
    .navbar {margin-bottom: 0px;}
    .navbar-default {background: none; border:none;}
    a {font-size: 16px;color:#FFF;}
    a:hover {color:#fff;}
    .active a {color:#fff; background:$color_2;font-size: 16px;}
    .navbar-collapse {border-top:none;}
}
.nav>li>a:focus, .nav>li>a:hover {background-color: $color_2;color:#fff;}
.navbar-toggle {border-color:$color_2;}
.navbar-toggle .icon-bar {background-color: $color_2;}
.navbar-default .navbar-toggle ,.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background: none;}
.banner {
    margin:0;
    background-color: #efefef;
    background: url('../images/banner.jpg') center center no-repeat;
    background-size:cover;
}
.jumbotron {
    color:#FFF;
    line-height: 1.6;
    .jumb_h1 {margin-top: 40px;}
    .jumb_h2 {color:#E0E0E0;}
    .jumb_h3 {color:#D3D1CE;}
    .jumb_btn {margin-top: 20px;}
}
.cate_list img ,.list_pro img {border-radius: 3px;}
.cate_list_a ,.list_pro_title {margin-top: 5px;}
.foot_nav {li {display: inline-block; margin:0 5px;}}
.foot {
    background-color: #F3F3F3;
    padding: 20px 0;
    color:#666666;
    line-height: 2;
    font-size: 12px;
    padding-bottom: 80px;
}
.h3_cate {
    font-size: 16px;
    color:$color_2;
    border-bottom:#DDDDDD solid 1px;
    position: relative;
    line-height: 2.4;
    margin-bottom: 15px;
    .h3_cate_span {
        display: inline-block;
        position: relative;
        top:1px;
        border-bottom:$color_2 solid 1px;
    }
}
.more {font-size: 12px; position: absolute; right:5px;bottom:-2px; color:#666;}
.list_news {
    line-height: 2;
    li {border-bottom:#efefef dashed 1px; margin-bottom: 3px; padding-bottom: 3px;position: relative;overflow: hidden;
        p {line-height: 1.8; font-size: 12px; color:#666; margin-top: 5px;}
    }
    h4 {font-size: 14px;}
    .list_news_time {background-color: #FFF; color:#999; padding-left: 14px; position: absolute; right:0; top:0px; display: block;z-index: 100;}
    .list_news_time_n {font-size: 12px; color:#999; line-height: 1.4;}
}
.list_pro li {margin-bottom: 10px;
    .list_pro_title {overflow: hidden}
}
.list_aside {
    background: $color_2;
    color:#FFF;
    margin-top: -60px;
    padding: 10px 0 30px;
    border-radius: 3px;
    a {color:#FFF;display: block;}
    a:hover {text-decoration: none}
    h2 {font-size: 20px;line-height: 2.6;}
    li {
        border-bottom:#C9302C solid 1px;
        line-height: 2.4;
        text-indent: 10%;
    }
    li.active a ,li:hover a {
        background-color: #C9302C;
    }
}
// 商城
.good_list {
    padding:0 5px;
    .col-xs-6 {
        background-color: #FFF;
        padding:10px;
        border:#F5F5F5 solid 2px;
    }
    .good_tag {
        left:0;
        top:0;
        width:22%;
    }
    .good_title {font-size: 14px; line-height: 1.6; height:1.6em; overflow: hidden; margin-top: 5px; margin-left: -5px;}
    .tags {display: inline-block; padding:3px 5px; margin-right: 5px; border:#FEE6F1 solid 1px; border-radius: 2px; color:#F45899; line-height:1; font-size: 12px;}
    .good_pric {font-size: 12px;}
    .good_pric_span {font-size: 14px;}
    .col-xs-3 {
        padding:0;
        padding-right: 5px;
    }
    .col-xs-9 {
        padding:0;
        padding-left: 10px;
    }
    .addcart {
        display: block;
        font-size: 20px;
        text-align: center;
        vertical-align: middle;
        line-height:30px;
        height: 30px;
        width:30px;
        background-color: $color_l;
        color:#FFF;
        border-radius: 50%;
    }
}
.good_show_title {font-size: 18px; line-height:1.6; margin-top: 10px;}
.sx_row {margin-bottom: 10px; line-height: 2;}
.sx_left {padding-right: 0px; line-height: 2;}
.sx_right {padding-left: 0px;}
.mt15 {margin-top: 15px;}
.mt10 {margin-top: 10px;}
.sx_title h3 {line-height:2.4;}
.good_show_con img {max-width:100%; height:auto;}
.user_info {margin-top: 10px;}
.input-nums {width:90px;}
.alert_shop {
    position: fixed;
    top:35%;
    left:20%;
    z-index: 1000;
    width:60%;
}
.cart_h4 {font-size: 16px; line-height:1.6;}
// 新的
.carousel-control.left ,.carousel-control.right {background: none;}
.menu_main {
    padding:10px 0 5px;
    background: #FFFFFF;
    border-top:#DCDCDC solid 1px;
    line-height:1.2;
    li {
        float: left; width:25%; text-align: center;
        font-size: 14px;
        span.glyphicon {
            display: block;padding:0;font-size: 24px;
            color: #CCCCCC;
        }
        p {
            color: #878787;
            margin-top: 7px;
        }
        .active {
            color:$color_l;
            span ,p {
                color:$color_l;
            }
        }
    }
}
.db {display: block;}
.goodcate {
    font-size: 12px;
    text-align: center;
    .goodcate_img {
        width:70%;
        display: block;
        margin:0 auto;
        margin-bottom:3px;
    }
}
.h_t {
    margin:0 -15px;
}
.ad_pos {
    .col-xs-5 {
        width:43%;
        padding: 0px;
    }
    .col-xs-7 {
        width:54.5%;
        padding: 0px;
        float: right;
    }
}
.mt5 {margin-top: 5px;}
// 分类
.allcate 
{
    padding-bottom: 10000px;
    margin-bottom: -10000px;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #FFF;
    li {
        padding-left: 7px;
        border-bottom:#E4E4E4 solid 1px;
        border-right:#E4E4E4 solid 1px;
        font-size: 12px;
        line-height:3;
        &.active {
            border-left:$color_l solid 3px;
            border-right: #F5F5F5 solid 1px;
            background-color: #F5F5F5;
        }
    }
}
.goodcate_list {
    padding:0 8px;
}
.goodcate_h3 {
    font-size: 14px;
    color: #212123;
}
.subcate {
    min-height:600px;
    background-color: #FFF;
    margin:0px;
    margin-top: 10px;
    padding:10px 0;
    .subcate_name {margin-bottom: 5px;}
}